.card {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  border-radius: 16px;
  background-image:
          linear-gradient(to left top, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.25)),
          url("../public/placeholders/punks/1.jpg");
  background-size: 100%;
  background-position: center;
  background-color: #171717;
  color: white;
  transition: background-size linear 0.1s;

  &:hover {
    background-size: 110%;
    cursor: pointer;
  }
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.info {
  display: flex;

  &Image {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}

.author {
  align-items: center;
  height: 25px;

  &:hover {
    cursor: pointer;
  }

  &Image {
    overflow: hidden;
    border-radius: 50%;
  }
}